.alur {
  position: relative;
  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
  }
  .col-md-3 {
    &:nth-child(even) {
      margin-top: 48px;
      @include size(720px) {
        margin-top: 0;
      }
    }
  }
  .card {
    border-radius: 12px;
    .number {
      margin-bottom: 14px;
    }
    .card-title {
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 14px;
    }
    p {
      text-align: justify;
    }
  }
}
