.mengapa_kami {
  background-repeat: no-repeat;
  h1 {
    position: relative;
    display: inline-block;
  }
  .why_card {
    position: relative;
    .card {
      max-width: 49%;
      min-height: 33vh;
      position: relative;
      border-radius: 32px;
      &:nth-child(1),
      &:nth-child(3) {
        float: right;
      }
      &:nth-child(2) {
        float: left;
        transition: 0.5s;
        margin-top: 25%;
      }
      //   border: 0;
      i {
        font-size: 32px;
        margin-bottom: 12px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
