#mengapa_kami {
  background-repeat: no-repeat;
  padding: 32px 0 !important;
  .row {
    align-items: center;
  }
  .card {
    border-radius: 12px;
    i {
      font-size: 32px;
    }
    p {
      width: 75%;
      display: block;
      margin: 0 auto;
    }
  }
}
