.paket {
  .card-title {
    font-size: 32px;
    margin-bottom: 21px;
    font-weight: bold;
  }
  ul {
    list-style: none !important;
    li {
      margin-bottom: 14px;
    }
  }
  .price {
    font-family: "Roboto", sans-serif;
  }
}
