#acara {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1)),
    url(../public/template_one/bg-s3.jpg);
  padding: 32px !important;

  .header {
    h1 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 21px;
      font-family: Salsa, sans-serif;
    }
  }

  .date__frame {
    .date__holder {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      background-color: white;
      border: 8px solid $yellow;
      border-radius: 50%;
      .big__date {
        font-size: 32px;
      }
      .day__holder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.left {
          text-align: center;
          left: -80px;
          width: 100%;
        }
        &.right {
          text-align: center;
          right: -80px;
          width: 100%;
        }
        .dh__first {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
        }
        .dh__second {
          font-size: 14px;
          font-family: "Calibri", sans-serif;
        }
      }
    }
  }

  .countdown__timer {
    font-size: 14px;
    .text-yellow {
      color: $yellow;
    }
    .countdown {
      background-color: white;
      border-radius: 4px;
      width: 48px;
      box-shadow: 0 0 4px $dark inset;
      text-align: center;
      .time {
        line-height: 32px;
        font-size: 32px;
      }
    }
  }
}
