.galeri {
  background: linear-gradient(to top, rgba(white, 0.1), rgba(white, 0.7)), url(../public/template_one/bg-s5.png);
  padding: 32px !important;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .header {
    h1 {
      font-family: "Segoe Print", sans-serif;
      margin-bottom: 32px;
    }
  }
  .content {
    img {
      width: 100%;
      border-radius: 32px;
    }
  }
}
