.love_story {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1)),
    url(../public/template_one/bg-s4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px !important;

  @mixin pinkCircle {
    content: "";
    position: absolute;
    top: 28px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $pink;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  @mixin timelineBoxEmbel {
    content: "";
    position: absolute;
    top: 21px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-right: 20px solid white;
    border-bottom: 14px solid transparent;
  }

  .header {
    text-align: center;
    h1 {
      font-size: 2rem;
      color: $pink;
      margin-bottom: 14px;
    }
    img {
      width: 75%;
    }
    p {
      text-align: justify;
      font-family: "Quicksand", sans-serif;
      margin-bottom: 32px;
    }
  }
  .timeline {
    width: 50%;
    display: flex;
    position: relative;
    .timeline-box {
      width: 80%;
      padding: 12px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      position: relative;
      h2 {
        font-size: 18px;
        margin-bottom: 4px;
        font-family: Roboto, sans-serif !important;
        margin-bottom: 12px;
      }
      p {
        font-size: 12px;
        font-family: Roboto, sans-serif !important;
      }
    }
    &.left {
      border-right: 2px solid black;
      &::after {
        @include pinkCircle();
        right: 0;
        transform: translateX(50%);
      }
      .timeline-box {
        &::after {
          right: -20px;
          transform: rotate(180deg);
          @include timelineBoxEmbel();
        }
      }
    }
    &.right {
      border-left: 2px solid black;
      margin-left: 50%;
      transform: translateX(-2px);
      justify-content: flex-end;
      &::after {
        content: "";
        left: 0;
        transform: translateX(-50%);
        @include pinkCircle();
      }
      .timeline-box {
        &::after {
          left: -20px;
          @include timelineBoxEmbel();
        }
      }
    }
  }
}
