#mempelai {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1)),
    url(../public/template_one/bg-s2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px !important;
  text-align: center;

  .header {
    img {
      width: 50%;
      margin-bottom: 21px;
    }
    p {
      font-family: "Quicksand", sans-serif;
      text-align: justify;
      margin-bottom: 32px;
    }
  }

  .content {
    background: rgba(white, 0.5);
    padding: 14px;
    .mempelai__card {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-gap: 14px;
      margin-bottom: 32px;
      img {
        width: 100%;
        border-radius: 14px;
      }
      .right {
        text-align: left;
        h2 {
          font-size: 1.5rem;
          font-family: Redressed, sans-serif;
          color: $yellow;
        }
        img {
          display: inline-block;
        }
        p {
          width: 50%;
          font-family: Roboto, sans-serif;
        }
      }

      &.reversed {
        grid-auto-flow: dense;
        direction: rtl;
        h2,
        p {
          text-align: right;
        }
      }
    }
  }
}
