.penutup {
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 1)
    ),
    url(../public/template_one/bg-s6.jpg);
  @include bgFitLeft;

  .t1 {
    font-size: 14px;
  }
  .t2 {
    text-shadow: 0px 0px 2px $dark;
    font-size: 18px;
  }
  .t3 {
    font-size: 14px;
  }
  .t4 {
    font-size: 14px;
    background-color: rgba($color: #bdccd3, $alpha: 0.43);
    padding: 4px;
  }
  .btn1 {
    background-color: #bdccd3;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 4px $dark inset, 0 4px 4px $dark;
  }
  .social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
    .social-icon {
      color: rgba($color: black, $alpha: 1);
      &:hover {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
