$dark: rgba(0, 0, 0, 0.5);
$darkpink: #de2568;
$pink: #fb9db1;
$yellow: #e0b048;
$greenv1: #a9bfa0;
$greenv2: #6b8866;

.template_one {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .btn-rounded {
    border-radius: 32px !important;
  }
  main {
    max-width: 540px;
    height: 100vh;
    margin: 0 auto;
  }
  section {
    min-height: 100vh;
    padding: 0 !important;
  }

  @import "pembuka";
  @import "mempelai";
  @import "acara";
  @import "love_story";
  @import "galeri";
  @import "peta";
  @import "penutup";

  footer#template-one {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: rgba(white, 0.7);
    a {
      flex-grow: 1;
      text-align: center;
      height: 54px;
      line-height: 54px;
      &:hover,
      &.active {
        background: rgba(#000, 0.1);
      }
    }
  }
}
